<div class="banner-job">
  <div class="banner-overlay"></div>
  <div class="container text-center">
    <h3>El resultado de su busqueda ha sido <%= @gigs.total_count %> oferta</h3>
    <ul class="banner-socail list-inline">
      <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
    </ul><!-- banner-socail -->
  </div><!-- container -->
</div><!-- banner-section -->
<%= render 'gigs/gig_listings' %>
