<!-- footer -->
<footer id="footer" class="clearfix">
  <!-- footer-top -->
  <section class="footer-top clearfix">
    <div class="container">
      <div class="row">
        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget">
            <h3>Links Rápidos</h3>
            <ul>
              <li><a href="#">Como Funcion</a></li>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
          </div>
        </div><!-- footer-widget -->

        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget">
            <h3>Como Anunciarse</h3>
            <ul>
              <li><a href="#">Como Anunciarse Mejor</a></li>
              <li><a href="#">Precios</a></li>
              <li><a href="#">Reglas Básicas</a></li>
            </ul>
          </div>
        </div><!-- footer-widget -->

        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget social-widget">
            <h3>Síguenos</h3>
            <ul>
              <li><a href="#"><i class="fa fa-facebook-official"></i>Facebook</a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i>Twitter</a></li>
            </ul>
          </div>
        </div><!-- footer-widget -->

        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget news-letter">
            <h3>Newsletter</h3>
            <p>Sigue nuestras publicaciones de empleo temporal!</p>
            <!-- form -->
            <form action="#">
              <input type="email" class="form-control" placeholder="Su Email">
              <button type="submit" class="btn btn-primary">Registrarme</button>
            </form><!-- form -->
          </div>
        </div><!-- footer-widget -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- footer-top -->

  <div class="footer-bottom clearfix text-center">
    <div class="container">
      <p>Copyright &copy; <a href="#">Jobs</a> 2017. Developed by <a href="">Applandia</a></p>
    </div>
  </div><!-- footer-bottom -->
</footer><!-- footer -->
